<mat-card>
<span>Calculated for
    <mat-form-field>
        <mat-select [(ngModel)]="size" (ngModelChange)="sizeChanged()">
            <mat-option *ngFor="let s of sizes" [value]="s">
                {{s}}
            </mat-option>
        </mat-select>
    </mat-form-field>

  group member<span *ngIf="size > 1">s</span>, for as even a split as possible.</span>
</mat-card>

<!-- add total AP-->
<!-- add AP in output-->
<!-- add locked app feature (clicking go calcualtes and locks)-->
<!-- save usernames-->
<!-- setting for just alt text not images-->
