mat-card {
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.list-player {
    width:100%;
    padding:1em 0;
}

.input-player-name {
    width:100%;
    display:inline-grid;
    grid-template-columns: max-content 30px;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.input-player-name mat-form-field{
    width:max-content;
    margin-bottom:-1.3em;

}

.input-player-name {
    border: 1px solid white;
    margin-bottom:1em;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled)
{
  color: palegreen;
}

::ng-deep .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary,
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: palegreen;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label.mat-accent {
  color: palegreen;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: palegreen;
}

::ng-deep .sizeField .mat-form-field-infix{
    width:30px;
}