<mat-card>
<span>Calculated for 
    <mat-form-field class="sizeField">
        <mat-select [(ngModel)]="size" (ngModelChange)="sizeChanged()">
            <mat-option *ngFor="let s of SIZES" [value]="s">
                {{s}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
     group member<span *ngIf="size > 1">s</span>, for as even a split as possible.</span>
     <button class="button-customize" mat-stroked-button color="accent" (click)="customize()"><mat-icon>
        badge
     </mat-icon> Customize</button>
</mat-card>

<!-- add total AP-->
<!-- add locked app feature (clicking go calcualtes and locks)-->
<!-- save usernames-->
<!-- setting for just alt text not images-->
