<mat-card class="mat-elevation-z0">
<mat-card-actions>
    <button mat-flat-button ><mat-slide-toggle [(ngModel)]="showName">Show Name</mat-slide-toggle></button>
    <button mat-flat-button ><mat-slide-toggle [(ngModel)]="showAP"> Show AP</mat-slide-toggle></button>
<button mat-flat-button color="primary" (click)="resetRelics($event)"><mat-icon>clear_all</mat-icon>Clear</button>
</mat-card-actions>
</mat-card>

<mat-card-content>
<div id="grid">
        <div class="relicButton" *ngFor="let relic of relicList">
            <button matRipple color="primary" class="relicImage" [matRippleRadius]="60" (click)="add(relic.id)" (contextmenu)="subtract($event, relic.id)" 
            [matBadge]="relics[relic.id].count" [matBadgeHidden]="relics[relic.id].count < 1" matBadgeSize="large" [matTooltip]="relic.name" [matTooltipPosition]="'above'" [matTooltipDisabled]="showName"
            [matTooltipShowDelay]="200">
        <img src="assets/images/{{relic.id}}.gif" alt="{{relic.name}}"/>
        
            </button>
    <button color="accent" mat-icon-button (click)="add(relic.id)"><mat-icon>add_circle</mat-icon></button>
    <span *ngIf="showName">{{relic.name}}</span>
    <span *ngIf="showAP"> / {{relic.points}}</span>
    <button color="warn" mat-icon-button  *ngIf="relics[relic.id].count > 0" (click)="subtract($event, relic.id)"><mat-icon>remove_circle</mat-icon></button>
        </div>
    </div>
    </mat-card-content>