<html>
<head>
  <title>Relic Calculator</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <mat-sidenav-container fullscreen>
    <div class="content" #content>
  <mat-card-title>
<h1>Relic Even Split Tool</h1>
</mat-card-title>

<app-party-config [(size)]="size" (namesChange)="namesChange($event)"></app-party-config>
<app-relic-select [(relics)]="relics"></app-relic-select>

 <div class="go-button-container">
  <button class="go-button" mat-flat-button color="accent" (click)="calculate(size)">Go!</button>
</div>
<span *ngIf="size <= 1">They're all yours baby!</span>
</div>
<div class="footer" #footer>
  Made by Saffy of Siel NA Classic
</div>
</mat-sidenav-container>

</body>

</html>