<div *ngIf="showTable">
<table class="mat-table mat-elevation-z1" id="loot">
    <tr class="mat-header-row">
    <th class="mat-header-row">
        Player
    </th>
    <th class="mat-header-row">
        Relics
    </th>
    <th class="mat-header-row">
        AP
    </th>
</tr>
    <ng-container *ngFor="let player of calculated; index as i">
    <tr class="mat-header-row">
        <td class="mat-cell" colspan="3">
            <mat-form-field>
                <mat-label></mat-label>
            <input matInput [(ngModel)]="partyNames[i]" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="nameUpdated($event)">
             </mat-form-field>
        </td>
    </tr>
    <tr class="mat-header-row" *ngFor="let relic of calculated[i].relics | keyvalue; index as j">
        <td class="mat-cell"></td>
        <td class="mat-cell">{{RELIC_LIST[relic.key].name}} <span *ngIf="relic.value > 1">x {{relic.value}}</span></td>
        <td class="mat-cell">{{RELIC_LIST[relic.key].points * relic.value}}</td>
    </tr>
    <tr class="mat-header-row">
        <td class="mat-cell" colspan="2"></td>
        <td class="mat-cell"><strong>{{calculated[i].points}}</strong></td>
    </tr>
    </ng-container>
</table>
<ng-container class="share-button-container">
<button mat-flat-button color="primary" (click)="generateShortText()">Generate Text (<250 char)</button>
<button mat-flat-button color="primary" (click)="generateLongText()">Generate Text</button>
<button mat-flat-button color="primary">Generate Para</button>

<button mat-flat-button color="primary" (click)="triggerDc()">Open Discord</button>
<button mat-flat-button color="primary"  (click)="triggerShare()">Share Text (Mobile)</button>

<mat-form-field>
    <textarea matInput maxlength="250" [cdkCopyToClipboard]="chatText" onclick="copyText(chatText)">{{chatText}}</textarea>
</mat-form-field>
<button *ngFor="let name of partyNames; index as i" mat-flat-button color="accent" (click)="copyText(i)">Copy for {{partyNames[i]}}</button>
</ng-container>
</div>
