input, table {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.mat-form-field, .mat-form-field-wrapper {
    width: 33%;
    padding:0;
}

table {
 background: none;
}

th,td,tr {
    
 color: white;
}

tr td:first-child {
    width:33%;
    height: 50%;
}

tr td:nth-child(2) {
    color:palegreen
}

td {
    padding: 5px;
}

table {
    width: 50%;
    margin: auto;
    padding: 10px;
}

/* Deep is deprecated, but cannot override otherwise. */
:host ::ng-deep .mat-form-field-underline{
    width: 50% 
}